{
  "token": "YOUR_DISCORD_TOKEN",
  "prefix": "$",
  "owner_id": "123123123",
  "owner_reporting": false,
  "presence_refresh_interval": 600000,
  "presence_status": "null"
  "presence_type": "null"
  "disconnect_timeout": 300000
}